/** sass */

.title{
    color: #5f9ea0;
    font-style: italic;
    text-align: center;
}

.navbar{
    background-color: #294346 !important;
}

.btn-patient{
    background-color: #468386;
    color: #fff;
}